<div id="login-form">
    <form action="login" method="POST">
        <div class="form-control">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
        </div>
        <div class="form-control">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
        </div>
        <div class="form-control">
            <input type="submit" value="Submit"
        </div>
    </form>
</div>